# Student Math Score Predictor - Data Exploration & Cleaning

This notebook will guide you through:
1. Loading and examining the data
2. Cleaning and preprocessing
3. Feature analysis and visualization
4. Preparing data for modeling

## How to Use This Notebook
- Each cell can be run by clicking the ▶️ button or pressing Shift+Enter
- Run cells in order from top to bottom
- Code cells show `In [ ]:` on the left
- Output appears below each cell after running
- Save your work with Cmd/Ctrl + S

In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set style for better visualizations
sns.set_theme(style="whitegrid")  # This is the recommended way to set seaborn style
sns.set_palette('husl')

# Show all columns in dataframe
pd.set_option('display.max_columns', None)

print("Libraries imported successfully!")

Libraries imported successfully!

In [3]:
# Load the dataset
# The dataset is in the data folder, one level up from notebooks
df = pd.read_csv('../data/StudentsPerformance.csv')

# Display basic information about the dataset
print("Dataset Info:")
print("-" * 40)
df.info()

print("\nFirst few rows of the dataset:")
print("-" * 40)
df.head()

Dataset Info:
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

First few rows of the dataset:
----------------------------------------

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75